@model Urun

<div id="card-dizayn">
    <div class="img-wrap">
        <span class="badge bg-success" id="price-lower">İndirim</span>
        <img src="~/img/@Model.Resim" alt="@Model.UrunAdi" class="card-img-top">
    </div>

    <div class="info-wrap">
        <a href="#" class="float-end btn btn-light">
            <i class="fa-regular fa-heart"></i>
        </a>
        <a asp-controller="Urun" asp-action="Details" asp-route-id="@Model.Id"
            class="title text-truncate">@Model.UrunAdi</a>
        <div class="price-wrap">
            <span class="price-discount fs-5">@Model.Fiyat ₺</span>
            @* <del class="price">49.999 ₺</del> *@
        </div>
    </div>
</div>